<%= form_with model: @item, url: admin_items_path, local:true do |f| %>
  <h4>商品画像</h4>
  <%= f.attachment_field :image %>
  <h4>商品名</h4>
  <%= f.text_field :name %>
  <h4>商品説明</h4>
  <%= f.text_area :introduction %>
  <h4>ジャンル</h4>
  <!--%= f.collection_select(:genre_id, @genres, :id, :name, prompt: "-- 選択してください --" %>-->  ジャンル選択フォームを挿入
  <h4>税抜価格</h4>
  <%= f.number_field :price %>円
  <h4>販売ステータス</h4>
  <!--%= f.select :is_active, [['販売中', true], ['販売停止', false]] %>--> 販売ステータスセレクトフォームを挿入
<% end %>