<div class="container">
  <div class="row no-gutters">
      <h5 class="text-dark bg-light p-1 mb-0">新規会員登録</h5>
  </div>
  <div class="row no-gutters">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <table class="table">
      <tr>
        <th style="border:none;">名前</th>
        <td style="border:none;"><%= f.label :（姓）%></td>
        <td style="border:none;"><%= f.text_field :last_name, autofocus: true, placeholder: "令和" %></td>
        <td style="border:none;"><%= f.label :（名） %></td>
        <td style="border:none;"><%= f.text_field :first_name, placeholder: "道子" %></td>
      </tr>
      <tr>
        <th style="border:none;">フリガナ</th>
        <td style="border:none;"><%= f.label :（セイ）%></td>
        <td style="border:none;"><%= f.text_field :last_name_kana, placeholder: "レイワ" %></td>
        <td style="border:none;"><%= f.label :（メイ） %></td>
        <td style="border:none;"><%= f.text_field :last_name_kana, placeholder: "道子" %></td>
      </tr>
      <tr>
        <th style="border:none;"><%= f.label :メールアドレス %></th>
        <td style="border:none;"></td>
        <td style="border:none;"><%= f.email_field :email, autocomplete: "email", placeholder: "sample@example.com" %></td>
      </tr>
      <tr>
        <th style="border:none;"><%= f.label :郵便番号（ハイフンなし） %></th>
        <td style="border:none;"></td>
        <td style="border:none;"><%= f.text_field :postcode, placeholder: "0000000" %></td>
      </tr>
      <tr>
        <th style="border:none;"><%= f.label :住所 %></th>
        <td style="border:none;"></td>
        <td style="border:none;"><%= f.text_field :address, placeholder: "東京都渋谷区代々木神園町0-0" %></td>
      </tr>
      <tr>
        <th style="border:none;"><%= f.label :電話番号（ハイフンなし） %></th>
        <td style="border:none;"></td>
        <td style="border:none;"><%= f.text_field :telephone_number, placeholder: "0000000000" %></td>
      </tr>
      <tr>
        <th style="border:none;">
          <%= f.label :パスワード %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> 文字以上)</em>
          <% end %>
        </th>
        <td style="border:none;"></td>
        <td style="border:none;"><%= f.password_field :password, autocomplete: "new-password" %></td>
      </tr>
      <tr>
        <th style="border:none;"><%= f.label :パスワード（確認用） %></th>
        <td style="border:none;"></td>
        <td style="border:none;"><%= f.password_field :password_confirmation, autocomplete: "new-password" %></td>
      </tr>
      <tr>
        <th style="border:none;"></th>
        <td style="border:none;"></td>
        <td style="border:none;"><%= f.submit "新規登録", class: "btn btn-dark" %></td>
      </tr>
    </table>
    <% end %>
  </div>
  <div class="row no-gutters">
    <h5 class="text-dark bg-light p-1 mb-0">既に登録済みの方</h5>
  </div>
  <div class="row no-gutters">
    <%= link_to "こちら", new_customer_session_path %>からログインしてください。
  </div>

</div>

<!--<%= render "devise/shared/links" %>-->