<div class="container">
  <div class="row no-gutters">
    <h5 class="text-dark bg-light p-1 mb-0"><%= @customer.last_name %><%= @customer.first_name %>さんの会員詳細</h5>
  </div>
  <div class="row no-gutters">
    <table class="table">
      <tr>
        <th style="border:none;">会員ID</th>
        <td style="border:none;"><%= @customer.id %></td>
      </tr>
      <tr>
        <th style="border:none;">氏名</th>
        <td style="border:none;"><%= @customer.last_name %><%= @customer.first_name %></td>
      </tr>
      <tr>
        <th style="border:none;">フリガナ</th>
        <td style="border:none;"><%= @customer.last_name_kana %><%= @customer.first_name_kana %></td>
      </tr>
      <tr>
        <th style="border:none;">郵便番号</th>
        <td style="border:none;"><%= @customer.postcode %></td>
      </tr>
      <tr>
        <th style="border:none;">住所</th>
        <td style="border:none;"><%= @customer.address %></td>
      </tr>
      <tr>
        <th style="border:none;">電話番号</th>
        <td style="border:none;"><%= @customer.telephone_number %></td>
      </tr>
      <tr>
        <th style="border:none;">メールアドレス</th>
        <td style="border:none;"><%= @customer.email %></td>
      </tr>
      <tr>
        <th style="border:none;">会員ステータス</th>
        <td style="border:none;">
          <% if @customer.is_deleted == true %>
          <p class="text-secondary">退会</p>
          <% else %>
          <p class="text-success">有効</p>
          <% end %>
        </td>
      </tr>
      <tr>
        <th style="border:none;"></th>
        <td style="border:none;"><%= link_to "編集する", edit_admin_customer_path(@customer), class: "btn btn-success mx-auto" %></td>
        <td style="border:none;"><%= link_to "注文履歴一覧を見る", admin_root_path, class: "btn btn-primary mx-auto"%></td>
      </tr>
    </table>
  </div>
</div>