
<div class="container">
  <h2>注文情報確認</h2>
  <div class="row">
    <div class="col-md-9">
     <% if current_customer.cart_items.present? %>
     <table class="table table-bordered border-dark">
      <thead>
        <tr>
            <th class="table-active border border-dark">商品名</th>
            <th class="table-active border border-dark">単価（税込）</th>
            <th class="table-active border border-dark">数量</th>
            <th class="table-active border border-dark">小計</th>
        </tr>
        </thead>
        <tbody>
         <% @cart_items.each do |cart| %>
          <tr>
            <td class="border border-dark">
              <%= attachment_image_tag(cart.item, :image, size: "60x50", fallback: "no_image.jpg") %>
              <%= cart.item.name %>
            </td>
            <td class="border border-dark">
              ¥<%= tax_price(cart.item.price).to_s(:delimited) %>
            </td>
            <td class="border border-dark"><%= cart.quantity %></td>
            <td class="border border-dark">¥<%= sub_price(cart).to_s(:delimited) %></td>
          </tr>
         <% end %>
        </tbody>
     </table>
    </div>
   <div class="col-md-3">
     <table class="table table-bordered border-dark">
        <tr>
            <th class="table-active border border-dark">送料</th>
            <td class="border border-dark"><%= @order.shipping_cost %></td>
        </tr>
        <tr>
            <th class="table-active border border-dark">商品合計</th>
            <td class="border border-dark"><%= total_payment(@cart_items).to_s(:delimited) %></td>
        </tr>
        <tr>
            <th class="table-active border border-dark">請求金額</th>
            <td class="border border-dark"><%= billing(@order).to_s(:delimited) %></td>
        </tr>
     </table>
   </div>
  </div>


 <div class="pb-4">
     <strong>支払方法</strong>
     <span class="pl-3"><%= @order.payment_option %></span>
 </div>
 <div>
     <strong>お届け先</strong>
     <span class="pl-3"><%= "#{@order.postcode} #{@order.address} #{@order.name}" %></span>
 </div>


    <div class ="col-xs-11 text-center mt-5">
        <%= form_with model:@order, url:customer_root_path, method: :post, local: true do |f| %>
          <%= f.hidden_field :postcode %>
          <%= f.hidden_field :address %>
          <%= f.hidden_field :name %>
          <%= f.hidden_field :payment %>
          <%= f.hidden_field :shipping_cost %>
          <%= f.hidden_field :delivery, value:@delivery %>
          <%= f.submit "注文を確定する", class: "btn btn-info" %>
        <% end %>
    </div>
      <% else %>
          <!-- if カートアイテムがない時 -->
          <p>お客様のショッピングカートに商品はありませんので注文確定ができません。</p>
          <p><%= link_to "商品一覧", customer_items_path %>から商品をお探し下さい。</p>
      <% end %>
   </div>
