<div class="container">
  <div class="row">
    <div class="col-1"></div>
    <h3 style="margin: 50px;">注文履歴一覧</h3>
  </div>
  <table border="1">
    <tr>
      <th width="150" height="50" bgcolor="#C0C0C0">注文日</th>
      <th width="450" height="50" bgcolor="#C0C0C0">配送先</th>
      <th width="150" height="50" bgcolor="#C0C0C0">注文商品</th>
      <th width="90" height="50" bgcolor="#C0C0C0">支払い金額</th>
      <th width="120" height="50" bgcolor="#C0C0C0">ステータス</th>
      <th width="120" height="50" bgcolor="#C0C0C0">注文詳細</th>
    </tr>
  <% @orders.each do |orders| %>
  <% orders.order_items.each do |ordered_item| %>
    <tr>
      <td height="75"><%= orders.created_at.format: :short %></td>
      <td height="75">
        <%= orders.postcode %><br>
        <%= orders.address %><br>
        <%= orders.name %><br>
      </td>
      <td height="75"><%= ordered_item.item.name %></td>
      <td height="75"><%= orders.total_payment + orders.shipping_cost  %></td>
      <td height="75"><%= orders.status %></td>
      <td height="75"><%= link_to '表示する', order_path(orders.id), class: 'btn btn-primary' %></td>
    </tr>
  <% end %>
  <% end %>

  </table>
</div>