<div class="container">
  <h3 style="margin-left: 200px; margin-top: 50px;">注文情報入力</h3><br>
  <%= form_with(model: @order, local: true, url: orders_confirm_path, method: :post) do |f| %>
  <label style="margin-left: 130px;"><h4>支払い方法</h4></label><br>
  <label style="margin-left: 190px;"><%= f.radio_button :payment_option, :クレジットカード, checked: "checked"%> クレジットカード</label><br>
  <label style="margin-left: 190px;"><%= f.radio_button :payment_option, :銀行振込 %> 銀行振込</label><br>
  <br>
  <label style="margin-left: 130px;"><h4>お届け先</h4></label><br>
  <label style="margin-left: 190px;"><%= f.radio_button :address_a, 0, checked: "checked" %> ご自身の住所</label>
  <div><label style="margin-left: 220px;">
    <%= current_customer.postcode %> <%= current_customer.address %><br>
    <%= current_customer.last_name %><%= current_customer.first_name %></label>
  </div>
  <label style="margin-left:190px;"><%= f.radio_button :address_a, 1 %> 登録済住所から選択</label><br>
  <div>
    <label style="margin-left: 220px;">
    <%= f.collection_select(:order, @address.all, :id, :name )%><br>
  </div>
  <label style="margin-left: 190px;"><%= f.radio_button :address_a, 2 %> 新しいお届け先</label>
  <div style="display: flex; margin-left:15% ;">
    <div  style="display: flex flex-direction: column;  flex-wrap: wrap;  width: 180px;">
      <%= f.label :"郵便番号(ハイフンなし)"%><br><br>
      <%= f.label :"住    所"%><br><br>
      <%= f.label :"宛    名"%><br><br>
    </div>
    <div style=" margin-left:20px; ">
      <%= f.text_field :postcode  %><br><br>
      <%= f.text_field :address ,size: "60" %><br><br>
      <%= f.text_field :name %><br><br>
      <%= f.submit "確認画面へ進む", class: 'btn btn-primary' %>
  <% end %>
    </div>
  </div>
</div>