<div class="container">
  <h4>ログイン</h4>
  
  <%= form_with model: @admin, url: admin_session_path, local: true do |f| %>
  <table class="table table-borderless">
    
    <tr>
      <th>会員の方はこちらからログイン</th>
      <td></td>
    </tr>
    
  　<tr>
      <th><%= f.label :メールアドレス %></th>
      <td><%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com" %></td>
    </tr>
    
    <tr>
      <th><%= f.label :パスワード %></th>
      <td><%= f.password_field :password, autocomplete: "current-password" %></td>
    </tr>
    <tr>
      <th></th>
      <td><%= f.submit "ログイン", class:"btn btn-primary btn-lg" %></td>
    </tr>
  </table>
  <% end %>
</div>