<div class="container">
  <h4>ログイン</h4>
  
  <%= form_with model: @customer, url: customer_session_path, local: true do |f| %>
  <table class="table table-borderless">
    
    <tr>
      <th>会員の方はこちらからログイン</th>
      <td></td>
    </tr>
    
  　<tr>
      <th><%= f.label :メールアドレス %></th>
      <td><%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com" %></td>
    </tr>
    
    <tr>
      <th><%= f.label :パスワード %></th>
      <td><%= f.password_field :password, autocomplete: "new-password" %></td>
    </tr>
    <tr>
      <th></th>
      <td><%= f.submit "ログイン", class:"btn btn-primary btn-lg" %></td>
    </tr>
    
  </table>
  <% end %>
  <table class="table-borderless">
  　<tr>
    　<td>会員登録がお済みでない方</td>
  　</tr>
  　<tr>
    　<td ><%= link_to "こちら", new_customer_registration_path %></a>から新規登録を行ってください。</td>
  　</tr>

  </table>
</div>