<div class="container">
  <div class="row">
    <div class="offset-md-1 col-md-4" style="margin-bottom: 30%;">
      <%= attachment_image_tag @item, :image, size: "280x180" %>
    </div>

    <div class="col-md-6">
      <h4><%= @item.name %></h4>
      <p style="height: 100px"><%= @item.introduction %></p>
      <p><strong style="font-size: 22px; margin-right: 4px;">¥ <%= (@item.price * 1.1).to_i.to_s(:delimited) %></strong><span style="font-size: 12px;">(税込)</span></p>

      <div class="form-inline">
      <% if customer_signed_in? %>
        <%= form_with(model: @cart_item, url: cart_items_path, method: :post, local:true) do |f| %>
          <%= f.hidden_field :item_id, value: @item.id %>
          <%= f.select :count, (1..10).to_a, include_blank: "個数選択" %>
          <%= f.submit "カートに入れる", class: "btn btn-success" %>
        <% end %>
      <% end %>
      </div>
    </div>
  </div>
</div>